@charset "utf-8";
li{list-style: none;}
*{padding: 0px;margin: 0px;}

.sellhouse_choose{width: 1200px;height: 60px;line-height: 60px;margin: 0 auto;}
.sellhouse_choose >span{float: left;}
.city_map_click{height: 40px;width:1000px;float: left;padding-top:12px;line-height: 35px;}
.city_map_click_span{display: none;cursor: pointer;}
.city_map_click >li{color:#333333;cursor: pointer;float: left;padding: 0px 15px;margin-right: 10px;border: 1px solid #E6E3E4;line-height: 30px;}
.city_map_click >li > i{color:#248ef1;border-left: 1px solid #E6E3E4;height: 30px;display: inline-block;text-align: center;width: 15px;margin-left: 10px;padding-left: 8px;}
.city_keep{width:100px;height:30px;float: right;line-height: 30px;padding-top: 12px;cursor: pointer;}
.city_keep > img{width: 14px;height: 14px;}
.city_map_choose{width: 100%;height: 367px;background:#fafafa;min-width: 1200px;padding-top: 20px;}
.city_choose_center{width: 1200px;height: 336px;margin: 0 auto;background: #f2f2f2;}
.city_choose_center_ul{height: 48px;width: 800px;}
.city_choose_center_ul > li{cursor: pointer;height: 46px;line-height: 48px;text-align: center;padding: 0px 30px;float: left;border: 1px solid #e5e3e6;}
.citylihover{height: 48px !important;border: none !important;background: #ffffff;}
.city_lists{width: 1200px;height:288px;background: #ffffff;position: absolute;}
.city_list1{height: 40px;line-height: 40px;padding-left: 30px;border-bottom: 1px solid #F2F2F2;overflow: hidden;}
.city_list1 >label{margin-right: 12px;float: left;}
.city_list1_ul >li{height: 38px;margin-right: 20px;float: left;cursor: pointer;}
.city_list1_ul >li >i{display: none;}
.city_list1 >select{height: 24px;width: 100px;padding: 0px 5px;outline: none;border: 1px solid #e5e3e6;-webkit-appearance: none;-moz-appearance: none;background: url("../img/select.png") no-repeat scroll right center transparent;padding: 0px 18px 0px 5px;
}
.city_area{width: 400px;height: 30px;float: left;margin-top:4px;}
.area1{width: 60px;height: 28px;line-height: 28px;float: left;}
.area1 >input{width: 60px;height: 28px;line-height: 28px;background: none;border: none;border: 1px solid #969899;}
.area2{line-height:30px;padding:0px 5px;text-align: center;float: left;}
.area_submit{width: 60px;height: 20px;margin: 5px 0px 0px 10px;float: left;background: none;border: none; border: 1px solid #999999;}
.adli{color: #248ef1;}
.selling_houselist{width: 100%;height: 1300px;min-width: 1200px;}
.selling_houselist_center{width: 1200px;height: 1300px;margin: 0 auto;}
.sell_houselist_left{  width: 768px;height: 1216px;float: left;background: #ffffff;}
.sell_hosuelist_left_header{ width: 756px;
    height: 48px;
    border-bottom: 3px solid #d9d7d7;
    margin-bottom: 24px;
    padding-left: 12px;} 
   
.sell_house_left_header_text{width: 180px;
    height: 48px;
    border-bottom: 3px solid #faa962;
    line-height: 48px;} 
.sell_house_left_paix{padding-left: 12px;padding-bottom: 30px;}  
.sell_house_left_span1{display: inline-block;margin-left:20px;border: 1px solid #f2f0f2;padding: 0px 20px;}

.sell_hosuelist_left_list1{width: 746px;height: 164px;padding:25px 12px;border-bottom: 1px solid #d5d4d4;cursor: pointer;}
.sell_hosuelist_left_list1 >img{width: 184px;height: 138px;float: left;margin-right: 20px;}
.sell_hosuelist_left_list1:hover{background: #fafafa;}
.sell_box{float: left;width: 520px;vertical-align: middle;}
.sell_box >h3{width: 520px;margin-bottom: 25px !important;}
.sell_box > .p1{width: 520px;}
.sell_box_list{block;position: relative;margin-top: 25px;}
.list_area{float: left;margin-right: 20px;}
.list_price{float: left;margin-right: 20px;}
.list_price_span{color: #333333 !important;}
.font_list_phone{display: inline-block;float: left;}

.sell_houselist_right{width: 374px;height: 1216px;float: right;background: #fafafa;}
.sell_houselist_right1{width: 374px;    width: 374px;height: 400px;background: #ffffff;margin-bottom: 48px;}
.selllist1_header{width: 374px;height: 48px;background: #f4892b;line-height: 48px;}
.sell_right_ban{width: 324px;height: 300px;margin: 24px;}
.sell_right_ban >img{width: 324px;height: 300px;}
.sell_houselist2{height: 280px;}
.sell_right2{margin: 0px;width: 374px;}
.sell_right2_ul >li{margin-bottom:10px;width: 124px;height: 90px;float: left;}
.sell_right2_ul >li >img{margin: 12px auto 0px;width: 50px;height: 50px;}
.sell_houselist3{height: 440px;}
.host_list1{width: 354px;height: 80px;padding: 10px;cursor: pointer;}
.hot_list_img{width: 100px;height: 80px;}
.host_list1_text{width: 180px;padding: 15px 0px 0px 10px;}
.host_list1_right{padding-top: 15px;}


